In [58]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import pearsonr
import collections

In [45]:
df = pd.read_csv('data/lawSchool.csv')

In [46]:
df.head(5)

,school,gpa,lsat,race,resident,age,admit,asian,black,other,white,hispanic,missingrace,LawSchool,year,gender,enroll,index6040,school_median,indexgroup
0,School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,2.89,152.0,Other,NaN,NaN,0.0,0.0,0.0,1.0,0.0,0.0,0.0,Akron,2005.0,0.0,NaN,609.0,686.0,620.0
2,NaN,2.85,137.0,Black,NaN,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,Akron,2005.0,1.0,NaN,455.0,686.0,460.0
3,NaN,2.23,137.0,Black,NaN,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,Akron,2005.0,1.0,NaN,393.0,686.0,400.0
4,NaN,3.23,153.0,White,NaN,NaN,0.0,0.0,0.0,0.0,1.0,0.0,0.0,Akron,2005.0,1.0,NaN,653.0,686.0,660.0

In [47]:
df = df.dropna()

In [48]:
df

,school,gpa,lsat,race,resident,age,admit,asian,black,other,white,hispanic,missingrace,LawSchool,year,gender,enroll,index6040,school_median,indexgroup
32043,ALABAMA STATE UNIVERSITY,3.37,146.0,Black,0.0,23.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,DistrictOfColumbia,2005.0,0.0,0.0,597.0,610.0,600.0
32050,AMERICAN UNIVERSITY,3.10,151.0,White,0.0,30.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,DistrictOfColumbia,2005.0,0.0,0.0,620.0,610.0,620.0
32051,AMERICAN UNIVERSITY,3.05,156.0,White,0.0,24.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,DistrictOfColumbia,2005.0,0.0,1.0,665.0,610.0,680.0
32053,AMERICAN UNIVERSITY,3.31,156.0,Hispanic,0.0,25.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,DistrictOfColumbia,2005.0,0.0,0.0,691.0,610.0,700.0
32055,AMERICAN UNIVERSITY,2.52,155.0,Asian,0.0,25.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,DistrictOfColumbia,2005.0,1.0,1.0,602.0,610.0,620.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107611,YALE UNIVERSITY,3.62,164.0,Hispanic,0.0,24.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,North Carolina,2006.0,0.0,0.0,802.0,775.0,820.0
107613,YALE UNIVERSITY,3.37,163.0,Black,0.0,24.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,North Carolina,2006.0,0.0,0.0,767.0,775.0,780.0
107614,YALE UNIVERSITY,3.91,167.0,White,1.0,22.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,North Carolina,2006.0,1.0,0.0,861.0,775.0,880.0
107618,YALE UNIVERSITY,3.53,161.0,Black,0.0,22.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,North Carolina,2006.0,0.0,0.0,763.0,775.0,780.0
107619,YALE UNIVERSITY,3.83,163.0,White,1.0,25.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,North Carolina,2006.0,1.0,0.0,813.0,775.0,820.0

In [51]:
# summarize
print('data1: mean=%.3f stdv=%.3f' % (np.mean(df['admit']), np.std(df['admit'])))
print('data2: mean=%.3f stdv=%.3f' % (np.mean(df['white']), np.std(df['white'])))
print('data2: mean=%.3f stdv=%.3f' % (np.mean(df['black']), np.std(df['black'])))
print('data2: mean=%.3f stdv=%.3f' % (np.mean(df['asian']), np.std(df['asian'])))

data1: mean=1.000 stdv=0.000
data2: mean=0.592 stdv=0.491
data2: mean=0.164 stdv=0.370
data2: mean=0.080 stdv=0.271

In [67]:
n = len(df)
c1= df[(df['black']==1) & (df['admit']==1)]
c2= df[(df['white']==1) & (df['admit']==1)]
c3= df[(df['asian']==1) & (df['admit']==1)]

,school,gpa,lsat,race,resident,age,admit,asian,black,other,white,hispanic,missingrace,LawSchool,year,gender,enroll,index6040,school_median,indexgroup
32043,ALABAMA STATE UNIVERSITY,3.37,146.0,Black,0.0,23.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,DistrictOfColumbia,2005.0,0.0,0.0,597.0,610.0,600.0
32062,ARIZONA STATE UNIVERSITY,2.10,151.0,Black,0.0,37.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,DistrictOfColumbia,2005.0,1.0,1.0,520.0,610.0,520.0
32086,BOWIE STATE UNIVERSITY,3.12,148.0,Black,0.0,26.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,DistrictOfColumbia,2005.0,0.0,0.0,592.0,610.0,600.0
32089,BOWIE STATE UNIVERSITY,2.37,148.0,Black,0.0,34.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,DistrictOfColumbia,2005.0,1.0,1.0,517.0,610.0,520.0
32111,CALIFORNIA STATE UNIVERSITY-HAYW,2.73,145.0,Black,0.0,25.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,DistrictOfColumbia,2005.0,0.0,1.0,523.0,610.0,540.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107525,WASHINGTON UNIVERSITY,3.12,164.0,Black,0.0,22.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,North Carolina,2006.0,0.0,0.0,752.0,775.0,760.0
107544,WESLEYAN UNIVERSITY,3.46,158.0,Black,0.0,25.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,North Carolina,2006.0,0.0,0.0,726.0,775.0,740.0
107608,YALE UNIVERSITY,3.47,159.0,Black,0.0,23.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,North Carolina,2006.0,0.0,0.0,737.0,775.0,740.0
107613,YALE UNIVERSITY,3.37,163.0,Black,0.0,24.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,North Carolina,2006.0,0.0,0.0,767.0,775.0,780.0
107618,YALE UNIVERSITY,3.53,161.0,Black,0.0,22.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,North Carolina,2006.0,0.0,0.0,763.0,775.0,780.0